body{
/* color:red;
color:rgb(0,255,0)
color:#0000ff;
color:#00f; */
color:#333;
font-family:verdana,sans-serif;
margin:0px;
}

header{background-color:gray;
text-align:right;
padding:10px;
height:140px;
background-position:15% 50%;
margin:0;
}
.header{margin:0;}

.header h1{text-align: center;
margin-top:0;
font-size:80px;
margin-bottom:50px;}

header ul{margin:0;
list-style:none;
padding-left:0;}

header li{display:inline-block;
padding:4px 8px;
font-size:20px;}

header li > a{text-decoration:none;
color:inherit;}

header li > a:hover{color:royalblue;
background-color:white;}


.current{
  border-bottom:4px solid royalblue;
}

.team{text-align: center;
font-size:50px; }

.menber {margin-top:8px;
font-size:30px;
margin:0 auto;
width:600px;
display:inline-block;
}

.name{text-align: center;}


.menber h3{font-size:60px;
margin-bottom:20px;
text-align:center;
}

/* section > img */
/* .icon{border-radius:50%;
border:5px solid white;
box-shadow:0 0 5px gray; } */
.image{
text-align: center;
}
img{border-radius:50%;
border:5px solid white;
box-shadow:0 0 5px gray;}

.works{width:100%;
  /* margin-left:auto;
  margin-right:auto; */
  margin:60px auto;
  border-bottom:1px solid gray;
  display:block;
  margin-bottom:40px;
  background-image:url(../img/pubg2.jpg);
  background-size:cover;
margin-top:0;

}



footer{
  width:400px;
  margin:0 auto 60px;

}

footer ul{margin:0;
list-style:none;
padding-left:0;
float:left;}

footer li{display:inline-block;
}
footer img{width:40px;
height:40px;}

footer li > a:hover{
  opacity:0.6;
}

footer p{color:lightgray;
font-size:14px;
text-align:right;}
